
#L img{
    margin-left: 0%;
    width: 20%; 
	height: 20%;
	float: left;
}

body {
	text-align: center;
	display: inline;
}

#R img{
	margin-right: 0%;
	width: 20%;
	height: 20%;
	float: right;
}
.siding{
	position: sticky;
	top: 0;
}