
#L img{
	background-color: rgb(228, 228, 228);
    margin-left: 0%;
    width: 20%; 
	height: 100vh;
	float: left;
}

body {
	text-align: center;
	display: inline;
}

#R img {
	background-color: rgb(228, 228, 228);
	margin-right: 0%;
	width: 20%;
	height: 100vh;
	float: right;
}
.siding {
	background-color: rgb(228, 228, 228);
	position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
	top: 0;
}
