.box {
	background-color: #218D9B;
	height: 0;
	width: 200px;
  }
  
  .transform {
	-webkit-transition: all .5s ease;  
	-moz-transition: all .5s ease;  
	-o-transition: all .5s ease;  
	-ms-transition: all .5s ease;  
	transition: all .5s ease;
  }
  
  .transform-active {
	background-color: #45CEE0;
	height: 200px;
  /*   width: 200px; */
  }
	