body {
	margin: 0;
}

#title {
	
	background-color: #00245d;
	padding-left: 10pt;
	padding-right: 10pt;
}

#title h1 {
	color: #fdbb30; 
}

#siding {

}

#nav {

}

#content {

}

#footer {

}

.left {
	float: left;
}

.right {
	float: right;
}