html
{
	/* height: 100%; */
	background-color: rgb(228, 228, 228);
	/* width: 100% */
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

#title {
	color: #fdbb30; 
	text-align: center;
	display:flex;
	align-items: center;
	justify-content: center;
	background-color: #00245d;
	padding-left: 10pt;
	padding-right: 10pt;
	width: 100%;
	height: 100pt;
}

#title h1 {
	vertical-align: middle;
	font-size: 55pt;
}

#siding {
	color: #00245d;
}

#easter-egg {
	display: none;
	float: right;
}

#nav {
	border-top: 3px solid #fdbb30;
	background-color: #00245d;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 60vw;
	top: 0;
	color: #fdbb30;
	height: 50pt;
	
}

#nav a:link {
	text-decoration: none;
	color: #fdbb30;
}

#nav a:visited {
	text-decoration: none;
	color: #fdbb30;
}

#nav a:active {
	text-decoration: none;
	color: #fdbb30;
}

#nav a:hover {
	text-decoration: underline;
}

.inline {
	display: inline-block;
	margin: 2%;
	font-size: 30px;
	padding: 2px;
	text-decoration: none;
	text-align: center;
	top: 0;
	bottom: 0;
	padding-bottom: 10px;
	color: inherit;
	text-decoration: inherit;
	/* bottom: auto; */

}


#content {
	/* background-color: #00245d */
	color: #00245d;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
	background-color: #303030;
	text-align: center;
	height: 30px;
	display: block;
	
}

.left {
	float: left;
}

.right {
	float: right;
}

h3 {
	display: inline;
	color: #fdbb30;
}

/* this is for image dropdown */

#container {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#meta-row {
	margin: 0 auto;
	width: 60vw; 	
}

table {
	margin-left: auto;
	margin-right: auto;
}

td {
	padding: 4pt;
	padding-top: 5pt;
}

.visible {
	opacity: 0.5
}

.visible:hover {
	border: none;
	opacity: 1;
}

.row {
	color: white;
	background-color: rgb(124, 124, 124);
	display: none;
	text-align: center;
	padding: 5pt;
	visibility: none;
	transition: ease-in;
	opacity: 1;
	visibility: 5s;
}