html
{
	/* height: 100%; */
	background-color: rgb(228, 228, 228);
	width: 100%
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

#title {
	color: #fdbb30; 
	text-align: center;
	
	display:flex;
    align-items: center;
    justify-content: center;

	background-color: #00245d;
	padding-left: 10pt;
	padding-right: 10pt;
	width: 100%;
	height: 100pt;
}

#title h1 {
	vertical-align: middle;
	font-size: 55pt;
}

#siding {

}

#nav {
	border-top: 3px solid #fdbb30;
	background-color: #00245d;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	top: 0;
	color: #fdbb30;
	height: 50pt;
	   
}

.inline {
	display: inline;
	margin: 2%;
	font-size: 30px;
	padding: 2px;
	text-decoration: none;
	text-align: center;
	padding-top: 10px;
}


#content {

}

#footer {

}

.left {
	float: left;
}

.right {
	float: right;
}

h3 {
	display: inline;
	color: #fdbb30;
}

/* this is for image dropdown */
img {

	border: transparent;
	/* height: 30pt; */
	/* width: 70pt; */
}

#container {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

table {

	margin-left: auto;
	margin-right: auto;
}

.visible {
	opacity: 0.5
}

.visible:hover {
	border: none;
	opacity: 1;
}

.row {
	width: 50%;
	background-color: aqua;
	display: none;
}